@import '../../mq';

@media #{$tabletPortrait} {
    @import '../mobile';
  	& {
      header {
        min-height: 100vh;
      }
      .item-col {
        max-width: 45%;
      }
      .item-content .title {
        br {
          display: block;
        }
      }
      .br_mob {
        display: none;
      }
	}
}
